<div class="jumbotron mt-4">
    <h1 class="display-4">Note App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo est libero a debitis sunt, laudantium
        deserunt quidem, architecto maxime facere voluptatem sint dignissimos.
        Necessitatibus deleniti vel nam itaque eveniet nostrum!</p>


    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore est soluta fugit recusandae sequi officiis distinctio dignissimos iusto excepturi officia.</p>
    <a href="https://pandrama.tv/" class="btn btn-primary">Faztweb</a>
</div>